<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>483310371561-8h0ta7p4nv70b5q497ck46i6sn44gcop.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.483310371561-8h0ta7p4nv70b5q497ck46i6sn44gcop</string>
	<key>API_KEY</key>
	<string>AIzaSyAXvVw5-zJRvXIpvNh-p300AraG_t136gk</string>
	<key>GCM_SENDER_ID</key>
	<string>483310371561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.praveenchowdary.MustDo</string>
	<key>PROJECT_ID</key>
	<string>planit-3bb82</string>
	<key>STORAGE_BUCKET</key>
	<string>planit-3bb82.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:483310371561:ios:1fdbfeef1b5d449c</string>
	<key>DATABASE_URL</key>
	<string>https://planit-3bb82.firebaseio.com</string>
</dict>
</plist>